---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: links.ac3.redhat.com
spec:
  group: ac3.redhat.com
  names:
    kind: Link
    listKind: LinkList
    plural: links
    singular: link
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              port:
                type: integer
              secretName:
                type: string
              secretName2:
                type: string
              secretNamespace:
                type: string
              sourceCluster:
                type: string
              sourceNamespace:
                type: string
              targetCluster:
                type: string
              targetNamespace:
                type: string
              applications:
                type: string
            required:
            - port
            - secretName
            - secretName2
            - secretNamespace
            - sourceCluster
            - sourceNamespace
            - targetCluster
            - targetNamespace
            - applications
            type: object
          status:
            properties:
              message:
                type: string
              state:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
