apiVersion: apps/v1
kind: Deployment
metadata:
  name: ac3-network-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ac3-network-controller
  template:
    metadata:
      labels:
        app: ac3-network-controller
    spec:
      containers:
      - name: ac3-network-controller
        image: quay.io/ryjenkin/ac3no3:88  # Replace with your actual image
        imagePullPolicy: Always
        ports:
        - containerPort: 8080  # Example port, change as necessary
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
      serviceAccountName: controller-manager # If your controller requires specific permissions

      
