apiVersion: apps/v1
kind: Deployment
metadata:
  name: multi-cluster-network-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: multi-cluster-network-operator
  template:
    metadata:
      labels:
        app: multi-cluster-network-operator
    spec:
      containers:
      - name: multi-cluster-network-operator
        image: quay.io/ryjenkin/ac3no3:292  # Replace with your actual image
        imagePullPolicy: Always
        ports:
        - containerPort: 8080  
        resources:
          requests:
            memory: "64Mi"
            cpu: "2"
          limits:
            memory: "256Mi"
            cpu: "2"
      serviceAccountName: controller-manager 

      